.toolbar__container {
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    margin: auto;
    align-content: center;
}

.toolbar__grid__1row {
    display: flex;
    justify-content: right;
}

.toolbar__grid__1row, .toolbar__grid__2row, .toolbar__grid__3row {
    padding: 0 15px;
}

.list-view-button {
    background-color: #eeeeee;
    border-color: #00000000;
    transition: background-color 0.5s ;
}
.active {
    background-color: #d2d2d2;
    border-color: #00000000;
}