.toolbar__grid {
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  margin: auto;
  align-content: center;

  &__1row, &__2row, &__3row {
    padding: 0 15px;
  }

  &__1row {
    display: flex;
    justify-content: space-between;

    &__btn_delete-disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &__switcher {
      background-color: #eeeeee;
      border-radius: 5px;
    }

    .list-view-button {
      border-color: #00000000;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    .active {
      background-color: #d2d2d2;
      border-color: #00000000;
    }
  }
}

.toolbar {
  &__btn_delete-disabled {
  }
}