.noteEditor {
  &__container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: flex-start;
    background-color: #d2d2d2;
  }
}

.noteEditor {
  &__container {
    textarea {
      min-width: 200px;
      width: -webkit-fill-available;
      height: 400px;
      resize: none;
      border: none;
      outline: none;
      background-color: #d2d2d2;
    }
  }
}

.noteEditor {
  &__container {
    &__wrapper {
      padding: 15px;
    }
  }
}

.noteEditor_deactivated {
}