.noteEditor__container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.noteEditor__container textarea{
    min-width: 400px;
    height: 400px;
    resize: none;
    border: none;
}

